@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "'Roboto Slab", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
* #465f80 - Footer, #cadeff - BG, #204980 - Text, #4093ff - Nav Hover, #3375cc - Misc
*/

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

/*
* #465f80 - Footer, #cadeff - BG, #204980 - Text, #4093ff - Nav Hover, #3375cc - Misc
*/

header {
  background-image: url("../images/seamless-web-texture-light-blue.jpg");
  background-color: #cadeff;
  display: flex;
  padding: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  position: relative;
}

h1 {
  background-color: red;
  text-align: center;
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.logo {
  text-align: center;
}

/*
* #465f80 - Footer, #cadeff - BG, #204980 - Text, #4093ff - Nav Hover, #3375cc - Misc
*/

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #cadeff;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15em;
}

.nav a {
  display: block;
  padding: 5em;
  text-decoration: none;
  color: #204980;
}

.nav a:hover {
  background-color: #4093ff;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("../images/nav-icon.svg");
  background-size: 40px auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.nav-check:checked ~ .nav-label {
  background-color: #4093ff;
  background-position: center bottom;
}

/*
* #465f80 - Footer, #cadeff - BG, #204980 - Text, #4093ff - Nav Hover, #3375cc - Misc
*/

main {
  grid-area: main;
  margin: 0;
  padding: 1rem;
  background-image: url("../images/seamless-web-texture-polished-blue-stone.jpg");
  background-color: #cadeff;
}

/*
* HAPPY TAILS

  Masthead - background-image: url("../images/leaf-bg.svg") repeat left top / 64px auto #204980;

  */

.masthead {
  background-color: #cadeff;
  color: #fff;
  border-bottom: 3px solid #8cbeff;
  border-top: 3px solid #465f80;
  margin-bottom: auto;
}

.banner {
  background: linear-gradient(to top, rgba(140, 190, 255, .8), rgba(140, 190, 255, 0) 50%), url("../images/banner.jpg") no-repeat center bottom / cover;
}

.banner-content {
  padding-top: 300px;
  background: url("../images/two-leaves.svg") no-repeat .75em 180px / 100px auto transparent;
}

dt {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  transition: all 1s linear;
}

dd {
  margin: 0;
  padding: 0;
  transition: all 1s linear;
}

dt:target,
dt:target + dd {
  background-color: #fff;
}

/*
* #465f80 - Footer, #cadeff - BG, #204980 - Text, #4093ff - Nav Hover, #3375cc - Misc
*/

aside {
  grid-area: sidebar;
  background-color: #cadeff;
  padding: 1em;
}

aside ul {
  grid-area: sidebar;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside a {
  color: #204980;
}

/*
* #465f80 - Footer, #cadeff - BG, #204980 - Text, #4093ff - Nav Hover, #3375cc - Misc
*/

footer {
  grid-area: footer;
  padding: 5rem;
  background-image: url("../images/seamless-web-texture-light-blue.jpg");
  background-color: #cadeff;
  font-family: "Roboto Condensed", sans-serif;
}

/*
* #465f80 - Footer, #cadeff - BG, #204980 - Text, #4093ff - Nav Hover, #3375cc - Misc
*/

@media only screen and (min-width: 35em) {

  h1 {
    background-color: yellow;
  }

  header {
    padding-bottom: 0;
  }

  .nav-check,
  .nav-label {
    display: none;
  }

  .nav {
    display: block;
    position: static;
  }

  .nav li {
    display: inline-block;
    float: none;
    width: auto;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    background-color: pink;
  }

}

@media only screen and (min-width: 60em) {

  h1 {
    background-color: orange;
  }

}
